<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schema/Nlog.xsd"
      xmlns:xsi="http://w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">

    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <targets>
        <target xsi:type="File" name="allfile" fileName="c:\RestaurantApiLogs\nlog-all-${shortdate}.log"
                layout="${logdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"/>
        
        <target xsi:type="File" name="exceptions" fileName="c:\RestaurantApiLogs\nlog-all-exceptions-${shortdate}.log"
                layout="${logdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"/>
    </targets>

    <!-- rules to map from logger to target -->
    <rules>
	    <logger name="*" minlevel="Trace" writeTo="allfile"/>
	    <logger name="RestaurantAPI.*" minlevel="Error" writeTo="exceptions"/>
    </rules>

</nlog>
